<div>
  <h3>Class</h3>
  <div>
    <span>Name</span>
    <span><%= @clazz.name %></span>
  </div>
  <div>
    <span>Year</span>
    <span><%= @clazz.year %></span>
  </div>
  <div>
    <span>Section</span>
    <span><%= @clazz.clazz_info.section %></span>
  </div>
  <div>
    <span>Teachers</span>
    <span><%= @clazz.teachers.map(&:name).join(', ') %></span>
  </div>
  <div>
    <span>Students</span>
    <span><%= @clazz.students.map(&:name).join(', ') %></span>
  </div>
</div>
<hr/>
<%= link_to 'Attendance', clazz_attendances_path(@clazz) %> |
<%= link_to 'Back', clazzes_path %>
