<%= form_for([:clazz, @attendance]) do |f| %>
  <div><%= f.error_messages %></div>
  <div>
    <%= f.label :student_id, 'Student' %>
    <%= f.collection_select :student_id, @clazz.students, :id, :name %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>
  <div>
    <%= f.label :present %>
    <%= f.check_box :status %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>